body {
	background: #fff;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	-webkit-text-size-adjust: none;
	overflow-x: hidden;
	margin: 0;
	padding: 0
}

.font, h1, h2, h3 {
	font-family: Pacifico, Arial, sans-serif;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 1
}

h1, h2, h3 {
	text-shadow: 0 1px 5px rgba(0, 0, 0, .2)
}

h1 {
	font-size: 100px;
	line-height: 100px;
	margin: 100px 0
}

h1.huge {
	font-size: 400px;
	line-height: 400px;
	margin: -50px 0 0 0;
	position: relative;
	z-index: 0
}

h1.huge+p {
	position: relative;
	z-index: 1
}

h2, h3 {
	font-size: 60px;
	line-height: 60px;
	margin: 45px 0
}

h4, h5, h6 {
	font-weight: 700;
	line-height: 1.2;
	margin: 80px 0 22px 0
}

h4 {
	font-size: 20px
}

h5 {
	font-size: 18px
}

h6 {
	font-size: 16px
}

h4 small, h5 small, h6 small {
	font-weight: 400
}

blockquote, ol, p, ul {
	margin: 0 0 22px 0
}

a, a:active, a:hover, a:link, a:visited {
	color: inherit;
	text-decoration: underline
}

input[type=text], select, textarea {
	background: #fff;
	color: #666;
	text-transform: none;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	vertical-align: middle;
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 40px;
	min-height: 40px;
	border: none;
	resize: none;
	opacity: .8;
	transition: opacity .5s ease
}

input[type=text], select {
	padding: 5px 10px
}

textarea {
	padding: 10px
}

input[type=text]:hover, select:hover, textarea:hover {
	opacity: 1
}

input[type=text].popout, select.popout, textarea.popout {
	width: calc(100% + 40px);
	padding-left: 20px;
	padding-right: 20px;
	margin-left: -20px;
	margin-right: -20px
}

code, pre {
	font-family: Consolas, monospace;
	font-weight: 400;
	font-size: 14px;
	opacity: .8;
	transition: opacity .5s ease
}

code:hover, pre:hover {
	opacity: 1
}

pre {
	background: #fff;
	color: #666;
	white-space: pre;
	width: 100%;
	overflow: auto;
	padding: 10px 20px;
	margin: 22px -20px;
	white-space: no-wrap;
	-webkit-overflow-scrolling: touch
}

pre .faded {
	opacity: .5
}

[class*=" col"]+[class*=" col"] pre, [class^=col]+[class^=col] pre {
	border-left: 1px solid #4bb5ef
}

hr {
	background: rgba(255, 255, 255, .5);
	border: none;
	height: 1px;
	margin: 22px -20px
}

dl {
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	display: block;
	margin: 22px -20px
}

dl:after {
	content: '';
	display: block;
	clear: both
}

dd, dt {
	border-top: 1px solid rgba(255, 255, 255, .5);
	min-height: 20px;
	padding: 10px;
	margin: 0;
	float: left;
	box-sizing: border-box
}

dt {
	width: 30%;
	padding-left: 20px;
	clear: left
}

dd {
	width: 70%;
	padding-right: 20px
}

dt.divider {
	font-size: 12px;
	text-transform: uppercase;
	opacity: .6;
	width: 100%;
	padding-bottom: 0;
	padding-top: 20px
}

dt.divider+dd {
	width: 0%;
	padding: 0
}

dt.divider+dd+dt, dt.divider+dd+dt+dd {
	border-top: none
}

iframe {
	overflow: hidden
}

:first-child {
	margin-top: 0
}

:last-child {
	margin-bottom: 0
}

.success, .warning {
	padding: 20px;
	margin-left: -20px;
	margin-right: -20px
}

.success {
	background: #393
}

.warning {
	background: #c30
}

.next {
	margin-top: 80px
}

.row {
	margin: 0 -20px
}

.row:after {
	content: '';
	display: block;
	clear: both
}

.row+h4, .row+h5, .row+h6 {
	margin-top: 60px
}

[class*=" col"], [class^=col] {
	margin-bottom: 40px;
	box-sizing: border-box;
	display: block;
	padding: 0 20px;
	float: left
}

.col12 {
	width: 100%
}

.col11 {
	width: 91.66%
}

.col10 {
	width: 83.33%
}

.col9 {
	width: 75%
}

.col8 {
	width: 66.66%
}

.col6 {
	width: 50%
}

.col4 {
	width: 33.33%
}

.col3 {
	width: 25%
}

.col2 {
	width: 16.66%
}

.col1 {
	width: 8.33%
}

.row.phones .col6 {
	margin-top: 20px
}

.row.phones .col6:first-child, .row.phones .col6:first-child+.col6 {
	margin-top: 0
}

.compatibility h4 {
	display: none
}

.compatibility h4+.row {
	margin-top: 80px
}

.compatibility+h4 {
	margin-top: 40px
}

#playground+.compatibility h4+.row, #playground+h4 {
	margin-top: 40px
}

.compatibility ul, ul.bordered {
	list-style: none;
	padding: 0
}

.compatibility ul li, ul.bordered li {
	border-top: 1px solid rgba(255, 255, 255, .5);
	padding: 10px 0;
	margin: 0
}

.responsive-video {
	background: #333;
	box-shadow: 0 0 30px rgba(0, 0, 0, .5);
	width: 100%;
	height: 0;
	padding-top: 56%;
	position: relative
}

.responsive-video iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0
}

#menu:not(.mm-menu), .mm-menu {
	display: none
}

body .mm-menu {
	--mm-listitem-size: 50px;
	--mm-iconpanel-size: 60px
}

body .mm-slideout {
	--mm-sidebar-collapsed-size: 60px
}

#playground-options {
	--mm-line-height: 20px;
	--mm-listitem-size: 44px
}

.mm-panel>p {
	margin: 15px 0
}

.mm-counter.badge {
	width: auto;
	min-width: 40px
}

#donate {
	padding: 40px 40px 0 60px
}

#donate:after {
	border: none !important
}

#donate a {
	text-decoration: underline
}

.mm-panel_iconpanel-first .mm-listitem:after {
	left: 60px
}

.mm-panel_iconpanel-first .mm-listitem_divider, .mm-panel_iconpanel-first.mm-panel_opened~.mm-listview_fixeddivider .mm-listitem_divider {
	padding-left: 60px
}

.mm-panel_iconpanel-first .fa {
	font-size: 16px;
	text-align: center;
	color: #999;
	line-height: 20px;
	width: 25px;
	margin-right: 15px;
	float: left;
	transition: color 1s ease
}

.mm-panel__blocker {
	display: block !important;
	opacity: 0 !important
}

.mm-menu_opened .mm-panel_opened.mm-panel_iconpanel-first .fa {
	color: #4bb5ef
}

.mm-panel_search {
	left: 0 !important;
	right: 0 !important;
	width: 100% !important
}

.mm-panel_search .fa {
	display: none
}

.mm-panel__searchsplash {
	text-align: center;
	opacity: .6;
	padding-top: 40px
}

.mm-panel__searchsplash a {
	display: inline-block;
	padding: 5px
}

#noscript {
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	height: 800px;
	height: 100vh;
	position: absolute;
	top: 0;
	right: 20px;
	left: 20px;
	z-index: 9999999
}

#noscript>div {
	text-align: center;
	width: 100%;
	max-width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

#noscript h1 {
	margin: 0 0 50px 0
}

#hamburger {
	display: block;
	width: 90px;
	height: 50px;
	margin: -100px 0 50px 0;
	position: -webkit-sticky;
	position: sticky;
	top: 20px;
	left: 0;
	z-index: 14
}

#hamburger .hamburger {
	margin-left: 20px
}

@media all and (max-width:760px) {
	#hamburger {
		background: #4bb5ef;
		border-bottom: 1px solid rgba(255, 255, 255, .5);
		opacity: .95;
		width: 100%;
		height: 45px;
		top: 0
	}

	#hamburger .hamburger {
		margin-left: 10px
	}

}

#page, body>.submenu {
	font-family: 'Open Sans', Arial, sans-serif
}

#page {
	background: url(../img/phone.png) calc(50% + 730px) -1160px no-repeat #4bb5ef;
	box-shadow: none;
	min-width: 320px;
	padding: 100px 0 160px 0;
	position: relative
}

body.header #page {
	background-position: calc(50% + 730px) -750px
}

body.p404, body.p404 #page {
	background: #e34545
}

@media (min-width:550px) {
	body:not(.p404) #page {
		border-left: 1px solid #ddd
	}

	body:not(.p404):not(.docready) #page {
		width: calc(100% - 60px);
		transform: translate3d(60px, 0, 0);
		transition: none
	}

}

html[class*=mm-sidebar-expanded-]:not(.mm-sidebar-closed) #page {
	border-left: none
}

@media all and (min-width:1430px) {
	body:not(.p404):not(.docready) #page {
		width: 70%;
		transform: translate3d(42.85714%, 0, 0);
		transition: none
	}

}

.reversed {
	background: rgba(255, 255, 255, .9);
	color: #555;
	padding: 75px 0;
	overflow: hidden
}

.reversed:last-child .wrapper {
	padding-bottom: 160px;
	margin-bottom: -160px
}

.reversed h4, .reversed h5, .reversed h6 {
	font-weight: 100;
	font-size: 30px;
	color: #4bb5ef
}

.reversed a {
	color: #4bb5ef
}

.reversed a.btn {
	border: 1px solid #4bb5ef
}

.reversed a.btn span {
	color: inherit
}

.wrapper {
	box-sizing: border-box;
	width: 80%;
	max-width: 900px;
	margin: 0 auto
}

.wrapper.header {
	padding-bottom: 150px
}

.ad-wrapper {
	background: #4bb5ef;
	opacity: .95;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2
}

.ad-wrapper>div {
	border-top: 1px solid rgba(255, 255, 255, .5);
	width: 900px;
	padding: 9px 20px;
	margin: auto
}

.buttons, a.btn {
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	overflow: hidden
}

.buttons {
	margin: 20px -5px
}

a.btn {
	font-weight: 700;
	display: inline-block;
	padding: 10px 20px;
	margin: 5px 10px 0 0
}

.buttons a, a.btn {
	background: rgba(255, 255, 255, .8);
	text-decoration: none;
	line-height: 25px
}

.buttons a:hover, a.btn:hover {
	background: #fff
}

.buttons a {
	display: block;
	padding: 20px 0 10px 0;
	margin: 0
}

.buttons a+a {
	border-left: 1px solid #4bb5ef
}

.buttons .font, a.btn {
	color: #4bb5ef
}

.buttons .font, a.btn .font {
	font-size: 35px
}

.buttons .sub, a.btn .sub {
	color: #666;
	font-size: 13px;
	font-weight: 400
}

.buttons span, a.btn span {
	text-align: center;
	display: block
}

.buttons.col6 {
	padding: 0
}

.table {
	margin: 22px -20px
}

.table thead {
	background: rgba(255, 255, 255, .8);
	color: #4bb5ef
}

.table tr {
	position: relative
}

.table tr:after {
	content: '';
	display: block;
	border-top: 1px solid rgba(255, 255, 255, .5);
	position: absolute;
	left: 0;
	right: 0;
	top: 0
}

.table, .table td {
	box-sizing: border-box
}

.table td {
	border: none;
	vertical-align: top;
	box-sizing: border-box;
	padding: 10px
}

.table td:first-child {
	padding-left: 20px
}

.table .divider td {
	font-size: 12px;
	text-transform: uppercase;
	opacity: .6;
	padding-bottom: 0;
	padding-top: 20px
}

.table .divider+tr:after, .table tfoot tr+tr:after, .table tr.sub-end:after, .table tr.sub-start+tr:after, .table tr.sub-start:after, .table tr:first-child:after {
	content: none;
	display: none
}

.table tr.sub-start:first-child td {
	padding-top: 10px
}

.table tr.sub-1:after {
	left: 50px
}

.table tr.sub-1 td:first-child {
	padding-left: 50px
}

.table tr.sub-2:after {
	left: 75px
}

.table tr.sub-2 td:first-child {
	padding-left: 75px
}

.table tr.sub-3:after {
	left: 100px
}

.table tr.sub-3 td:first-child {
	padding-left: 100px
}

.table td.toggle {
	cursor: pointer
}

.table td.td1 {
	width: 20%
}

.table td.td2 {
	width: 20%
}

.table td.td3 {
	width: 15%
}

.table td.td4 {
	width: 45%
}

.table tfoot td, .table tr.sub-end td, .table tr.sub-start td {
	padding-top: 0
}

.table td:first-child+td small {
	display: block
}

.table tfoot {
	font-size: 13px
}

.table tfoot tr:first-child td {
	padding-top: 20px
}

.table code {
	font-size: 16px
}

.phone {
	padding: 132px 0;
	margin: 0 -100px;
	position: relative;
	z-index: 1
}

.phone:after, .phone:before {
	content: '';
	background: url(../img/phone-example.png) center top no-repeat transparent;
	display: block;
	width: 100%;
	height: 50%;
	position: absolute;
	left: 0;
	z-index: -1
}

.phone:before {
	top: 0
}

.phone:after {
	background-position: center bottom;
	bottom: 0
}

.phone.red:after, .phone.red:before {
	background-image: url(../img/phone-example-red.png)
}

.phone.green:after, .phone.green:before {
	background-image: url(../img/phone-example-green.png)
}

.phone div {
	border-radius: 5px;
	overflow: hidden;
	background: #111;
	border: none;
	display: block;
	width: 280px;
	height: 450px;
	margin: 0 auto;
	position: relative
}

.phone iframe, .tablet iframe {
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.tablet img {
	width: auto;
	max-width: 100%;
	height: auto;
	margin: auto
}

.phone+pre, .tablet+pre {
	margin-top: 0
}

.stacked-phones {
	overflow: hidden;
	height: 550px;
	position: relative
}

.stacked-phones:after, .tablets.rotatable:after {
	content: '';
	border-radius: 50%;
	box-shadow: 0 0 20px rgba(0, 0, 0, .4);
	display: block;
	height: 20px;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	z-index: 2
}

.stacked-phones .phone {
	width: 380px;
	margin-left: -190px;
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 1
}

.stacked-phones .phone.green, .stacked-phones .phone.red {
	z-index: 0;
	margin-top: 30px
}

.stacked-phones .phone:first-child {
	left: 23%
}

.stacked-phones .phone:last-child {
	left: 77%
}

.tablets>div {
	margin-bottom: 40px
}

.tablet {
	height: 510px;
	padding: 38px 72px;
	margin: 40px -20px 20px -20px;
	position: relative;
	z-index: 1;
	-ms-transform: rotate(0);
	transform: rotate(0);
	transition: none .6s ease;
	transition-property: transform, margin
}

.tablet:after, .tablet:before {
	content: '';
	background: url(../img/tablet-example.png) left top no-repeat transparent;
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 0
}

.tablet:before {
	width: 30%;
	left: 0
}

.tablet:after {
	background-position: right top;
	width: 70%;
	right: 0
}

.tablet div {
	overflow: hidden;
	background: #111;
	border: none;
	display: block;
	width: 100%;
	height: 492px;
	position: relative;
	z-index: 1
}

.tablet div.img {
	overflow-y: auto
}

.tablet iframe {
	-ms-transform: rotate(0);
	transform: rotate(0);
	transition: none .6s ease .6s;
	transition-property: transform, width, height, top, left
}

.tablets.rotatable {
	margin: -200px;
	margin-bottom: 0;
	padding-top: 200px;
	position: relative;
	overflow: hidden
}

.tablets.rotatable .tablet {
	width: 695px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -140px
}

.tablets.portrait .tablet {
	margin-top: 160px;
	margin-bottom: -260px;
	-ms-transform: rotate(90deg);
	transform: rotate(90deg)
}

.tablets.portrait .tablet iframe {
	width: 490px;
	height: 690px;
	left: 100px;
	top: -100px;
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg)
}

a.rotate {
	text-align: center;
	text-decoration: none;
	font-size: 50px;
	display: block;
	width: 100px;
	padding-left: 20px;
	margin: 20px auto
}

a.rotate .portrait {
	opacity: .3
}

a.rotate:hover .portrait {
	opacity: .5
}

a.rotate .landscape {
	opacity: 1;
	padding-left: 20px;
	margin-left: -40px
}

.tablets.portrait a.rotate .portrait {
	opacity: 1
}

.tablets.portrait a.rotate .landscape {
	opacity: .3
}

.tablets.portrait a.rotate:hover .landscape {
	opacity: .5
}

a.popout {
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	text-decoration: none;
	text-align: center;
	line-height: 20px;
	display: block;
	padding: 10px 0 10px 40px
}

a.popout .fa {
	margin-left: 20px
}

pre+a.popout {
	margin: -20px -20px 0 -20px
}

#wp-screenshot h4 {
	display: none
}

h1 {
	position: relative;
	z-index: 11
}

h1.has-submenu {
	margin-bottom: 10px
}

h1 .submenutext {
	display: none
}

.submenu {
	opacity: .95;
	line-height: 20px;
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: sticky;
	top: 0;
	z-index: 10
}

.submenu+* {
	margin-top: 80px
}

.submenu li, .submenu ul {
	list-style: none;
	display: block;
	padding: 0
}

.submenu ul {
	background: #4bb5ef;
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	padding: 5px 5px 0 5px;
	margin-left: -20px;
	margin-right: -20px
}

.submenu ul:after {
	content: '';
	display: block;
	clear: both
}

.submenu li {
	margin: 0;
	float: left
}

.submenu a {
	text-decoration: none;
	display: block;
	padding: 10px 15px;
	position: relative
}

.submenu a:hover:after, .submenu li.selected a:after, .submenu:hover li.selected a:hover:after {
	content: '';
	background: #fff;
	display: block;
	height: 1px;
	position: absolute;
	bottom: -1px;
	left: 15px;
	right: 15px
}

.submenuhover li.selected a:after {
	content: none
}

#features .wrapper>div {
	padding: 75px 50px;
	position: relative
}

#features .wrapper>div:first-child {
	padding-top: 25px
}

#features .wrapper>div+div {
	border-top: 1px solid #ccc
}

@media all and (max-width:950px) {
	#features .wrapper>div+div {
		border-top: none
	}

}

#features .wrapper .has-rotatable-tablets, #features .wrapper .has-stacked-phones {
	padding-bottom: 0
}

#features .wrapper .has-rotatable-tablets+div, #features .wrapper .has-stacked-phones+div {
	border-top: none
}

#features .wrapper .has-rotatable-tablets p {
	position: relative;
	z-index: 1
}

#features .wrapper .stacked-phones {
	margin: 0 -30%;
	margin: 0 calc(-50px - 14%)
}

#features .wrapper .cta:after {
	content: '';
	display: block;
	clear: both
}

#features .wrapper .cta>* {
	vertical-align: middle;
	display: inline-block
}

@media all and (max-width:950px) {
	#features .wrapper .cta>* {
		display: block
	}

}

#features .wrapper .cta h4 {
	color: #4bb5ef;
	padding-top: 20px;
	margin: 0
}

@media all and (max-width:950px) {
	#features .wrapper .cta h4 {
		padding: 0;
		margin-bottom: 22px
	}

}

#features .wrapper .cta a.btn {
	border-color: #4bb5ef;
	color: #4bb5ef;
	padding-left: 30px;
	padding-right: 30px;
	float: right
}

@media all and (max-width:950px) {
	#features .wrapper .cta a.btn {
		margin-top: 22px;
		margin-right: 0;
		float: none
	}

}

#features .wrapper .customize {
	padding-top: 0;
	padding-bottom: 0
}

#features .wrapper .customize p {
	border-top: 1px solid #ccc;
	min-height: 50px;
	padding: 100px 50px 100px 400px;
	margin: 0 -50px;
	position: relative
}

#features .wrapper .customize p:first-child {
	border-top: none
}

#features .wrapper .customize p img {
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	border: 1px solid #ccc;
	border-radius: 30px;
	margin-top: -91px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 150px
}

#features .wrapper .customize p img:nth-child(2) {
	left: -50px
}

#features .wrapper .customize p img:nth-child(3) {
	left: -250px
}

#features .wrapper .customize p img:nth-child(4) {
	left: -450px
}

#features .wrapper .customize p:nth-child(even) {
	padding: 100px 400px 100px 50px
}

#features .wrapper .customize p:nth-child(even) img {
	left: auto;
	right: 150px
}

#features .wrapper .customize p:nth-child(even) img:nth-child(2) {
	right: -50px
}

#features .wrapper .customize p:nth-child(even) img:nth-child(3) {
	right: -250px
}

#features .wrapper .customize p:nth-child(even) img:nth-child(4) {
	right: -450px
}

body.home #page {
	background-image: none
}

body.home #page:before {
	background: url(../img/phone.png) calc(50% + 200px) -190px no-repeat #4bb5ef;
	content: '';
	display: block;
	height: 1150px;
	position: absolute;
	top: 25px;
	right: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	transition: opacity 2s ease, top 1s ease
}

body.docready.home #page:before {
	top: 0;
	opacity: 1
}

#home-intro {
	padding: 0 0 375px 0;
	position: relative
}

#home-intro h1 {
	font-size: 150px;
	line-height: 150px;
	letter-spacing: -10px;
	margin: 20px 0
}

#home-intro h4 {
	margin-top: 20px;
	margin-right: -100px
}

#home-features ul {
	display: block;
	padding: 0
}

#home-features li {
	margin: 0 0 20px 0
}

#changelog>li {
	margin-top: 20px
}

#license {
	margin-bottom: 80px
}

#license .licenses {
	margin-top: 80px;
	margin-bottom: 40px
}

#license .licenses>div {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px
}

#license .licenses>div:nth-child(even) {
	background: rgba(255, 255, 255, .15);
	box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	border-radius: 5px
}

#license .licenses .btn, #license .licenses .comment, #license .licenses .price, #license .licenses .title, #license .licenses .usp {
	display: block;
	margin: 0
}

#license .licenses .price, #license .licenses .title {
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	text-align: center
}

#license .licenses .comment, #license .licenses .title, #license .licenses .usp {
	padding: 25px 0
}

#license .licenses .comment, #license .licenses .usp {
	text-align: left
}

#license .licenses .price {
	font-size: 50px;
	font-weight: 100;
	padding: 50px 0
}

#license .licenses .license-personal .price {
	font-size: 30px
}

#license .licenses .usp {
	display: inline-block;
	padding: 25px 0
}

#license .licenses .usp li {
	list-style: none;
	padding: 5px 0 5px 22px;
	position: relative
}

#license .licenses .usp li .fa {
	position: absolute;
	top: 9px;
	left: 0
}

#license .licenses .btn {
	text-align: center;
	padding-bottom: 20px
}

#license .licenses .comment {
	opacity: .8;
	line-height: 20px
}

#license .licenses+h4, #license .licenses+h5, #license .licenses+h6 {
	margin-top: 0
}

@media all and (max-width:760px) {
	#license .licenses>div {
		text-align: left;
		padding-top: 0;
		padding-bottom: 0
	}

	#license .licenses>div:nth-child(even) {
		background: 0 0;
		box-shadow: none
	}

	#license .licenses .price, #license .licenses .title {
		border-bottom: none;
		font-size: 20px !important;
		display: inline-block;
		padding: 0
	}

	#license .licenses .title {
		margin-right: 10px
	}

	#license .licenses .usp {
		display: block
	}

}

#check {
	padding-top: 20px;
	position: relative
}

#check a {
	color: #4bb5ef;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	line-height: 40px;
	display: block;
	width: 60px;
	height: 40px;
	position: absolute;
	bottom: 0;
	right: 0
}

#check .popout+a {
	right: -20px
}

#playground .example {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: sticky;
	top: 30px
}

#playground-options {
	background: 0 0;
	width: 100% !important;
	color: #fff;
	line-height: var(--mm-line-height);
	height: auto;
	max-width: none;
	padding-top: 40px;
	position: relative;
	z-index: 2
}

#playground-options h4 {
	margin-top: 80px
}

#playground-options .mm-listview {
	margin: 0 -20px
}

#playground-options .mm-listitem {
	border-bottom: 1px solid rgba(255, 255, 255, .4);
	padding: 4px 20px
}

#playground-options .mm-listitem:not(.mm-listitem_divider):first-child {
	border-top: 1px solid rgba(255, 255, 255, .4)
}

#playground-options .mm-listitem:after {
	content: none
}

#playground-options .mm-listitem a, #playground-options .mm-listitem span {
	text-overflow: clip;
	white-space: normal;
	padding-left: 0
}

#playground-options .mm-listitem+.mm-listitem_divider {
	padding-top: 30px
}

#playground-options .mm-listitem_divider {
	border: none;
	background: 0 0;
	padding: 0 20px;
	font-size: 12px;
	opacity: .6
}

#playground-options label.mm-toggle {
	background: rgba(255, 255, 255, .4)
}

#playground-options label.mm-toggle:before {
	background: #4bb5ef
}

#playground-options input.mm-toggle:checked~label.mm-toggle {
	background: #fff
}

#playground-options h4+.mm-listview {
	margin-top: -10px
}

.playground.col6 {
	margin-bottom: 90px
}

@media all and (min-width:1430px) {
	.lt-1430 {
		display: none
	}

}

@media all and (max-width:950px) {
	.gt-950px {
		display: none
	}

	#features .customize p {
		border-top: none;
		padding: 60px 0 60px 220px;
		margin: 0
	}

	#features .customize p:first-child {
		margin-top: -25px
	}

	#features .customize p img {
		left: 0
	}

	#features .customize p:nth-child(even) {
		padding: 60px 220px 60px 0
	}

	#features .customize p:nth-child(even) img {
		right: 0
	}

	#features .customize p img:nth-child(2), #features .customize p img:nth-child(3), #features .customize p img:nth-child(4) {
		display: none
	}

	#home-intro h1 {
		margin-top: -10px
	}

	#home-intro>.col6 {
		width: 70%
	}

	.playground.col6, .playground.col6+.col6, .row.phones .col6 {
		width: 100%
	}

	.playground.col6 {
		margin-bottom: 20px
	}

	.playground+.col6 .phone {
		top: auto !important
	}

	.row.phones .col6:first-child+.col6 {
		margin-top: 20px
	}

	.row.phones.default .col6:first-child+.col6 {
		display: none
	}

	#playground-options h4 {
		margin-top: 0
	}

	#playground+.compatibility h4+.row {
		margin-top: 0
	}

}

@media all and (max-width:760px) {
	.gt-760px {
		display: none
	}

	h1 {
		font-size: 60px;
		line-height: 60px;
		margin: 45px 0
	}

	h4, h5, h6 {
		margin-top: 50px
	}

	.compatibility+h4 {
		margin-top: 10px
	}

	.col1, .col10, .col11, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9 {
		width: 100% !important;
		clear: left !important
	}

	.buttons a+a {
		border-left: none;
		border-top: 1px solid #4bb5ef
	}

	#license .buttons [class*=license-] {
		border-top: none
	}

	.wrapper:before {
		content: none !important;
		display: none !important
	}

	.wrapper.header {
		padding-bottom: 75px
	}

	.tablets.rotatable:after {
		content: none
	}

	.table, .table td, .table tr {
		display: block;
		width: 100% !important
	}

	.table td {
		padding-left: 20px
	}

	.table td:empty, .table thead {
		display: none
	}

	.table .sub-1 td {
		padding-left: 50px
	}

	.table .sub-2 td {
		padding-left: 75px
	}

	.table .sub-3 td {
		padding-left: 100px
	}

	.table td.td1 {
		font-weight: 700
	}

	.table td.td2:before {
		content: 'Default: ';
		font-size: 14px
	}

	.table td.td3 {
		display: none
	}

	.table td.td2, .table td.td4 {
		padding-top: 0
	}

	.tablets .tablet, .tablets.rotatable {
		display: none
	}

	.submenu {
		display: none
	}

	#features .wrapper>div {
		padding: 30px 0
	}

	#features .wrapper>div+div {
		border-top: none
	}

	#features .wrapper .customize {
		padding: 0 0 30px 0
	}

	#features .wrapper .customize p {
		border-top: none
	}

	#features .stacked-phones {
		margin: 0 -12%
	}

	#features .fa {
		display: none
	}

	#home-intro {
		padding-bottom: 200px
	}

	#home-intro h4 {
		margin-right: 0
	}

	.stacked-phones {
		border-bottom: 1px solid #ccc
	}

	.stacked-phones:after {
		content: none;
		display: none
	}

}

@media all and (max-width:550px) {
	dl dd, dl dt {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		float: none
	}

	dl dd {
		border-top: none;
		margin-top: -20px
	}

	#page {
		background-image: none
	}

	#license label {
		padding-right: 10px
	}

	#license .price {
		font-size: inherit;
		width: auto;
		margin-top: 0;
		position: static
	}

	.row.phones .phone {
		margin-left: -100px;
		margin-right: -100px
	}

	.stacked-phones .phone:first-child, .stacked-phones .phone:last-child {
		display: none
	}

	#home-intro h1 {
		letter-spacing: -5px;
		font-size: 110px;
		line-height: 110px;
		margin-top: -40px
	}

	#features .wrapper .customize p, #features .wrapper .customize p:nth-child(even) {
		padding: 20px 0;
		margin: 0;
		min-height: 20px
	}

	#features .wrapper .customize p img {
		display: none
	}

}

@media all and (max-width:380px) {
	.phone {
		height: auto;
		padding: 20px 0
	}

	.phone:after, .phone:before {
		background: 0 0;
		content: none;
		display: none
	}

	.phone div {
		border: 10px solid #111
	}

	#features .stacked-phones {
		height: 360px
	}

}
