body {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	max-width: 960px;
	margin: 0 auto;
	font-size: 12px;
}
@font-face {
    font-family: 'HeliosCond';
    src: url('fonts/helioscond-bold_22329-webfont.woff2') format('woff2'),
         url('fonts/helioscond-bold_22329-webfont.woff') format('woff'),
         url('fonts/helioscond-bold_22329-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
p, button {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	color: rgb(73, 73, 73);
	font-weight: inherit;
	line-height: 20px;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 60px;
}

img {
	margin-block-start: 16px;
}

a {
	text-decoration: none;
	color: black;
}

.mail_addr {
	width: 23%;
	padding-left: 35px;
}

.phone {
	width: 30%;
	text-align: right;
}

#to_book_a_call {
	border-radius: 2px;
	background-image: -moz-linear-gradient(90deg, rgb(245, 161, 0) 0%, rgb(255, 168, 0) 100%);
	background-image: -webkit-linear-gradient(90deg, rgb(245, 161, 0) 0%, rgb(255, 168, 0) 100%);
	background-image: -ms-linear-gradient(90deg, rgb(245, 161, 0) 0%, rgb(255, 168, 0) 100%);
	width: 100%;
	height: 37px;
	z-index: 310;
	color: white;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	margin: 12px 0;
	max-width: 230px;
}

#to_book_a_call:hover {
	background-image: -webkit-linear-gradient(90deg, rgb(255, 170, 0) 0%, rgb(255, 170, 0) 100%);
}

#to_book_a_call:active, visited {
	background-image: -webkit-linear-gradient(90deg, rgb(165, 109, 1) 0%, rgb(165, 109, 1) 100%);
}

a.facebook i {
	color: white;
	padding: 5px 8px;
	font-size: 15px;
	border-radius: 20px;
	background-color: black;
}

a.vk i {
	color: white;
	padding: 5px 4px;
	font-size: 16px;
	border-radius: 20px;
	background-color: black;
	margin-left: 65px;
	margin-right: 10px;
}

.logo_smm i:hover {
	opacity: 0.4;
}

.logo img {
	margin-bottom: 25px;
}

.mail_addr p b, .mail_addr a {
	font-size: 14px;
}

.mail_addr a {
	color: blue;
	text-decoration: underline;
	font-weight: bold;
}

.phone a {
	font-size: 20px;
}

i.fas.fa-envelope {
	padding-right: 5px;
	font-size: 15px;
}

i.fab.fa-skype {
	font-size: 18px;
	padding-right: 5px;
}

i.fas.fa-map-marked-alt {
	font-size: 15px;
	padding-right: 5px;
}

.phone a {
	display: block;
	margin: 8px 0;
}

@media screen and (max-width:980px) {
	header {
		flex-direction: column;
		text-align: center;
	}

}

@media screen and (max-width:980px) {
	.mail_addr {
		max-width: 410px;
		margin: 0 auto;
		width: auto;
		padding-left: 0;
	}

}

@media screen and (max-width:980px) {
	a.vk i {
		margin-left: 0px;
	}

}

@media screen and (max-width:980px) {
	.phone {
		max-width: 260px;
		text-align: center;
		margin: 0 auto;
		width: auto;
	}

}

/* Add a black background color to the top navigation bar */
.topnav {
	overflow: hidden;
	list-style-type: none;
	background-image: -moz-linear-gradient(90deg, rgb(46, 46, 46) 0%, rgb(73, 73, 73) 100%);
	background-image: -webkit-linear-gradient(90deg, rgb(46, 46, 46) 0%, rgb(73, 73, 73) 100%);
	background-image: -ms-linear-gradient(90deg, rgb(46, 46, 46) 0%, rgb(73, 73, 73) 100%);
	display: flex;
	justify-content: space-between;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
	color: #fca600;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
	background-image: -moz-linear-gradient(90deg, rgb(245, 161, 0) 0%, rgb(255, 168, 0) 100%);
	background-image: -webkit-linear-gradient(90deg, rgb(245, 161, 0) 0%, rgb(255, 168, 0) 100%);
	background-image: -ms-linear-gradient(90deg, rgb(245, 161, 0) 0%, rgb(255, 168, 0) 100%);
	color: white;
}
@media screen and (max-width: 980px){
	.topnav{
	display:none;
}
}

ul.topnav li.right {
float: right;
}

.topnav .search-container {
float: right;
}

.topnav input[type=text] {
padding: 6px;
margin-top: 8px;
font-size: 17px;
border: none;
max-width: 162px;
}

.topnav .search-container button {
float: right;
padding: 6px 10px;
margin-top: 8px;
margin-right: 16px;
background: white;
color: gray;
font-size: 15px;
border: none;
cursor: pointer;
}

.topnav .search-container button:hover {
background: white;
}

.search-container i {
opacity: 1;
}

.dropbtn {
width: 222px;
}

input[type="text"]:focus {
outline: none;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
.dropdown {
float: left;
overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
.dropdown-content {
  display: none;
  padding-block-start: 30px;
  padding-block-end: 30px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 960px;
  background-color: white;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  max-width: 200px;
}


.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.show {
    display: block;
    display: flex;
    justify-content: space-around;
}
button.dropbtn {
    height: 100%;
    background-image: -moz-linear-gradient(90deg, rgb(245, 161, 0) 0%, rgb(255, 168, 0) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(245, 161, 0) 0%, rgb(255, 168, 0) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(245, 161, 0) 0%, rgb(255, 168, 0) 100%);
    color: white;
    font-size: 17px;
    cursor:pointer;
    border: none;
}
button.dropbtn:focus{
	outline: none;
}
.search-container button:focus {
    outline: none;
}
.list-with-heading {
    display: inline-block;
}
.list-with-heading a {
    color: blue;
    padding: 0;
    text-decoration: underline;
    font-size: 15px;
    position: relative;
}
.list-with-heading a:hover {
	background-color: inherit;
}
.list-with-heading a img {
    display: inline-block;
    margin: 10px 5px;
    position: absolute;
    left: -50px;
    padding-right: 17px;
}
.list-with-heading a span {
    display: inline-block;
    margin: 10px 0;
    text-decoration: underline;
}
.list-with-heading .title {
    font-size: 18px;
    font-family: "HeliosCond";
    color: rgb(73, 73, 73);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10px;
}
#page{
	background-color: white;
}
